<!DOCTYPE html>
<htmlth:"http://www.thymeleaf.org">
	<head>
<meta charset="ISO-8859-1">
<title>Bloggart</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<form action="#" method="post" th:action="user/register/save"
				th:object="user">
				<!-- 				<label for="firstNameControl"> First Name </label> <input -->
				<!-- 					id="firstNameControl" th:field="*{firstName}" type="text" -->
				<!-- 					class="form-control"> <label for="lastNameControl"> -->
				<!-- 					<p th:each="error:${#fields.errors('firstName')}" -->
				<!-- 						th:text="${error}"></p> Last Name -->
				<!-- 				</label> <input id="lastNameControl" th:field="*{lastName}" type="text" -->
				<!-- 					required class="form-control"> -->
				<!-- 				<p th:each="error:${#fields.errors('lastName')}" th:text="${error}"></p> -->
				<label for="userameControl"> username </label> <input
					id="userameControl" th:field="*{lastName}" type="text" required
					class="form-control">
				<p th:each="error:${#fields.errors('username')}" th:text="${error}"></p>
				--> <label for="emailControl"> Email </label> <input
					id="emailControl" th:field="*{email}" type="email" required
					class="form-control">
				<p th:each="error:${#fields.errors('email')}" th:text="${error}"></p>
				<label for="passwordControl"> Password </label> <input
					id="passwordControl" th:field="*{password}" type="password"
					required class="form-control">
				<p th:each="error:${#fields.errors('password')}" th:text="${error}"></p>

				<label for="twitterControl"> Twitter </label> <input
					id="twitterControl" th:field="*{twitterId}" type="text"
					class="form-control"> <label for="instagramIdControl">
					Email </label> <input id="instagramIdControl" th:field="*{instagramId}"
					type="text" class="form-control">

				<button type="submit">Register</button>

			</form>
			<p>
				Already a user? <a th:href="@{/user/login}">Login</a>
			</p>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>
	</body>
	</html>