<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bloggart</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">BG</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/loginSuccess}">Home</a></li>
				</ul>
				<div class="d-flex justify-content-between">
					<a class="btn btn-success me-2" th:text="${username}"></a> <a
						class="btn btn-success me-2" th:href="@{/logout}">Logout</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container  mt-2 h-100 ">
		<form action="#" method="post" th:action="@{/comment/save}"
			th:object="${commentObject}">
			<div class="container border border-success">

				<div class="mb-0">
					<textarea class="form-control border-0 shadow-none"
						th:field="*{comment}" id="exampleFormControlTextarea1" rows="1"
						placeholder="comment..."></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-secondary">Reply</button>

			<a class="btn btn-danger" th:href="@{/loginSuccess}">Cancel</a>
		</form>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>